/* main body styling start */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

div,
ul,
li,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
img {
margin: 0;
padding: 0;
}


a {
text-decoration: none;
}

textarea:focus,
input:focus {
outline: none;
}

body{
font-family: "Inter", sans-serif;
font-optical-sizing: auto;
font-weight: 200;
font-style: normal;
font-size: 13px;
color: #666666;
}
/* main body styling end */

/* for every page margin start */
.mar_gin {
margin: 0px 0px 0px 66px;
width: 50%;
margin: auto;
}
/* for every page margin end */

/* navbar styling start */
#check,
.checkBox {
display: none;
}

#check:not(:checked) + label:before {
font-family: "FontAwesome";
content: "\f0c9";
font-size: 15px;
color:#666666;
}

#check:checked + label:before {
font-family: "FontAwesome";
content: "\f00d";
font-size: 15px;
color:#666666;
}

.mynav {
border-right: 1px solid #666666;
height: 100%;
width: 60px;
position: fixed;
top: 0;
left: 0;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.mynav ul{
list-style-type: none;
}
.mynav ul li {
margin: 18px 0px;
}

.mynav ul li a {
text-decoration: none;
position: relative;
}
.mynav ul li a i {
font-size: 17px;
height: 20px;
width: 26px;
color: #666666;
}
.home,
.person,
.search,
.contact,
.followers,
.post {
background-color:#666666;
padding: 3px 8px;
border-radius: 6px;
color: white;
font-weight: 400;
position: absolute;
left: calc(100% + 4px);
top: -6px;
opacity: 1;
visibility: hidden;
transition: 0.1s ease-in-out;
width: 80px;
text-align: center;
}

.fa-house-chimney:hover + .home,
.fa-user:hover + .person,
.fa-magnifying-glass:hover + .search,
.fa-paper-plane:hover + .contact,
.fa-user-plus:hover + .followers,
.fa-newspaper:hover + .post {
opacity: 1;
visibility: visible;
transform: translateX(5px);
}
@media (max-width: 767.98px) {

.checkBox {
display: block;
position: fixed;
bottom: 20px;
right: 20px;
height: 50px;
width: 50px;
border: 1px solid #666666;
background-color: whitesmoke;
border-radius: 50%;
z-index: 100;
display: flex;
justify-content: center;
align-items: center;
}

.mynav {
border-right: 1px solid #666666;
background-color: white;
width: 200px;
align-items: start;
z-index: 90;
padding: 0 0px 0 30px;
left: -100%;
transition: all ease 0.9s;
}

.home,
.person,
.search,
.contact,
.followers,
.post {
padding: 2px 8px;
left: calc(100% + 10px);
top: -6px;
opacity: 1;
visibility: visible;
}

#check:checked ~ .mynav {
left: 0%;
}
}
/* navbar styling end */


/* home styling start */
.profile {
min-height: 70dvh;
}
.profile_img{
text-align: end;
}
.profile_img img {
height: 100px;
width: 100px;
border-radius: 50%;
object-fit: cover;
}
.profile_img i{
position: relative;
right: 35px;
top: 40px;
background-color: #666666;
color: white;
padding: 5px;
border-radius: 50%;
}
.profile_content {
display: flex;
flex-direction: column;
justify-content: center;
}
hr{margin: 5px 0;}
.profile_content p:nth-child(1){font-size:23px;}
.profile_content p:nth-child(2){font-size:13px;}


.profile_about p:nth-child(1){font-size:23px;}
.profile_about p:nth-child(3){font-size:13px;margin:0 0 25px 0;text-align: justify;}

.profile_education p:nth-child(1){font-size:23px;}
.profile_education p:nth-child(n + 3):nth-child(-n + 5){font-size:13px;margin:0 0 25px 0;text-align: justify;}

.profile_skills p:nth-child(1){font-size:23px;}
.profile_skills p:nth-child(n + 3):nth-child(-n + 10){font-size:13px;margin:0 0 25px 0;text-align: justify;}

.profile_certificate p:nth-child(1){font-size:23px;}
.profile_certificate p:nth-child(n + 3):nth-child(-n + 7){font-size:13px;margin:0 0 25px 0;text-align: justify;}

.profile_achivements p:nth-child(1){font-size:23px;}
.profile_achivements p:nth-child(3){font-size:13px;margin:0 0 25px 0;text-align: justify;}

.profile_quality p:nth-child(1){font-size:23px;}
.profile_quality ul {
    margin-left: 25px;
}
.profile_quality ul li{
    text-align: justify;
}

.profile_project p:nth-child(1){font-size:23px;}
.profile_project p:nth-child(3n){font-size:17px;margin:20px 0 2px 0;font-weight: 300;}
.profile_project p:nth-child(3n + 4){font-size:13px;margin:1px 0;text-align: justify;}
.profile_project p:nth-child(3n + 5){font-size:12px;margin:2px 0;}

.profile_declaration p:nth-child(1){font-size:23px;}
.profile_declaration p:nth-child(3){font-size:13px;margin:0 0 25px 0;text-align: justify;}


@media (max-width: 767.98px) {
.profile_img
{
text-align: center;
}
.profile_content {
margin-top: 20px!important;
text-align: center;
}
}
/* home styling end */

/* for larger devices */
@media (min-width: 1400px) {
.mar_gin {
width: 800px;
margin: auto;
}
}
/* for every smaller devices */
@media (max-width: 767.98px) {
.mar_gin {
margin: 10px 10px 10px 10px;
width: 90%;
margin: auto;
}
}
