@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
div,
ul,
li,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
img {
margin: 0;
padding: 0;
}
ul {
list-style-type: none;
}
a {
text-decoration: none;
}
textarea:focus, input:focus
{
outline: none;
}
.red{
border: 1px solid red;
}
.black{
border: 1px solid black;
}
p{
  margin: 8px 0;
}
body{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

/* navbar styling start */
#check,
.checkBox {
display: none;
}
#check:not(:checked)+label:before {
font-family: "FontAwesome";
content: '\f0c9';
font-size: 14px;
}

#check:checked+label:before {
font-family: "FontAwesome";
content: '\f00d';
font-size: 14px;
}
.mynav{
border-right: 2px solid rgb(221, 212, 212);
height: 100%;
width: 60px;
position: fixed;
top: 0;
left: 0;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.mynav ul li{
margin: 15px 0px;
}
.mynav ul li a{
text-decoration: none;
position: relative;
color: rgb(80, 74, 74);
}

.home,.person,.search,.contact,.followers,.post{
background-color: black;
padding: 2px 8px;
border-radius: 6px;
color: white;
position: absolute;
left: calc(100% + 5px);
top: -3px;
opacity: 0; /* Initial opacity set to 0 */
visibility: hidden; /* Hidden by default */
transition:  0.2s ease-in-out; /* Transition opacity */
}

.fa-house-chimney:hover + .home ,.fa-user:hover + .person,.fa-magnifying-glass:hover + .search,.fa-paper-plane:hover + .contact,.fa-user-plus:hover + .followers,.fa-newspaper:hover + .post{
opacity: 1; /* Change opacity on hover */
visibility: visible; /* Make visible on hover */
transform: translateX(5px);
}

.mar_gin{
margin: 0px 0px 0px 66px;
width: 50%;
margin: auto;
}
/* navbar styling end */

/* index styling start */
.index{
min-height:70dvh;
}
.title{
font-weight: 300;
color: rgb(0, 0, 0);
letter-spacing: 1px;
text-transform: uppercase;
}
.main_title{
border-left: 4px solid rgb(148, 143, 143);
padding-left: 10px;
margin: 16px 0;
}
.profile_header img{
height: 140px;
border-radius: 50%;
object-fit: cover;
}
.profile_header_content{
display: flex;
flex-direction: column;
justify-content: center;
}
.profile_header_content ul{
display: flex;
}
.profile_header_content ul li{margin-right: 10px;}
.profile_header_content a{
color: black;
align-self: flex-start;
color: blueviolet; 
}
/* index styling end */


/* for larger devices */
@media (min-width: 1400px) { 
.mar_gin{
width: 800px;
margin: auto;
}
}

@media (max-width: 767.98px) { 
.mar_gin{
margin: 10px 10px 10px 10px;
width: 90%;
margin: auto;
}
.checkBox {
display: block;
position: fixed;
bottom: 0%;
margin: 20px 10px;
border: 1px solid black;
background-color: white;
border-radius: 50%;
z-index: 100;
padding: 12px 16px;
display: flex;
justify-content: center;
align-items: center;
}
.mynav{
border-right: 1px solid black;
background-color: white;
width: 200px;
align-items: start;
z-index: 90;
padding: 0 0px 0 30px;
left: -100%;
transition: all ease 0.9s;
}
.home,.person,.search,.contact,.followers,.post{
background-color: black;
padding: 2px 8px;
border-radius: 6px;
color: white;
position: absolute;
left: calc(100% + 10px);
top: -2px;
opacity: 1; /* Initial opacity set to 0 */
visibility: visible; /* Hidden by default */
}
#check:checked~.mynav {
left: 0%;
}

}

/* footer styling */
footer p{
font-size: 13px;
}
